h1{
    text-align: center;
    font-family: Dancing Script;
}
h2{
    font-weight: normal;
    text-align: center;
    font-family: Lobster;
}
.t{
    width: 100%;
    text-decoration: underline;
    background-color: hotpink;
}
table{
    width: 100%;
    text-align: center;
}
.t td:hover{
    background-color: blueviolet;
}
.s{
    width: 70%;
    vertical-align: top;
}
.b{
    font-family:Playfair Display ;
    font-weight: normal;
}
.de{
    width: 30%;
    vertical-align: top;
}
.lo{
    width: 30%;
    vertical-align: top;
}