.t{
    width: 100%;
    text-align: center;
    background-color: hotpink;
}
.t td:hover{
    background-color: blueviolet;
}
h1{
    text-align: center;
    font-family: IBM Plex Sans Thai;
}